{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>发布页面</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static  'css/list_custom.css' %}" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="ui inverted top fixed menu">
        <div class="header item">

            <div class="ui image">
            <a href="{% url 'index' %}">
                    <img src="{% static 'images/tenlogo.PNG' %}" alt="" />
                </a>
                </div>
            </div>


        <div class="right menu">
            <div class="item">
                <h5 class="ui inverted header">
                        <div class="ui avatar image">
                            <img src="{% static 'images/default.png' %}" alt="">
                        </div>

                        {% if request.user.is_authenticated  %}
                        <span>{{ request.user.username }}</span>
                        {% else %}
                          <span>游客你好</span>
                        {% endif %}

                    </h5>
            </div>
            <div class="item">
              <a href="#" style="color:White">发布</a>
            </div>
            <div class="item">
                {% if request.user.is_authenticated %}
                  <a href="{% url 'logout' %}" style="color:White">退出</a>
                {% else %}
                  <a href="{% url 'register' %}" style="color:White">登录／注册</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="ui vertical container basic segment" style="margin-top:80px;width:700px;border:none;box-shadow:none">

        <div class="ui icon message">
            {%  for message in messages %}
  <i class="inbox icon"></i>
  <div class="content">
    <div class="header">请求购买：{{ message.article }}</div>


        <i class="inbox icon"></i>
  <div class="content">
    <div class="header">收货人：{{ message.name }}</div>
      <i class="inbox icon"></i>
  <div class="content">
    <div class="header">收货地址：{{ message.address }}</div>
      <i class="inbox icon"></i>
  <div class="content">
    <div class="header">手机号码：{{ message.phone }}</div>

  </div>
      <div class="ui divider"></div>
</div>
  </div>
        {% endfor %}